.root{
    -fx-background-color: #000000;
}


.menu_vbox{
    -fx-padding: 200px 0;
    -fx-translate-y: 200px;
}


.menu-button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.53), 0, 0, 6, 6); /* Pixelated shadow */
    -fx-translate-y: 2px;

}

.menu-button:pressed {
    -fx-opacity: 0.5; /* Simulate button press effect */
}

.menu_error{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #a30e0e;
    -fx-stack-pane-alignment: bottom-center;
}
