.background {
    -fx-background-color: red;
}

.save_dialog_box {
    -fx-background-color: #373737;
    -fx-background-radius: 20px;
    -fx-padding: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.37), 10, 0, 0, 0);
    -fx-border-radius: 20px;
    -fx-border-color: #636363;
    -fx-border-width: 5px;
    -fx-max-height: 400px;
    -fx-max-width: 700px;
}

.save_title {
    -fx-font-family: "Jersey 10", sans-serif;
    -fx-font-size: 40px;
    -fx-text-fill: #cfcfcf;
    -fx-padding: 0 0 20px 0;
}

.save_button {
    -fx-font-family: "Jersey 10", sans-serif;
    -fx-font-size: 20px;
    -fx-background-color: #252525;
    -fx-border-width: 3px;
    -fx-border-color: #5c5c5c;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 8px 20px;
}

.save_button:hover {
    -fx-text-fill: #8f8c8c;
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.21), 20, 0.5, 10, 10);
}

.save_text_field{
    -fx-max-width: 500px;
    -fx-min-height: 75px;
    -fx-font-family: "Jersey 10", sans-serif;
    -fx-font-size: 23px;
    -fx-border-radius: 20px;
    -fx-border-color: #494949;
    -fx-border-width: 4px;
    -fx-background-color: #272727;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}

.save_text_field:hover{
    -fx-border-color: #636363;
}